<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.2.3" targetFramework="net4" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net4" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net4" />
  <package id="NetOffice.Outlook" version="1.7.3.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net4" />
  <package id="Tools4Libraries" version="1.0.10" targetFramework="net40" />
</packages>
